<article class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
<h1>Iniciar Sesión</h1>
 <div class="tc">
    <form action="/login/validar_admin" method="post">
        <input type="text" name="email" placeholder="Ingrese su email" class="input-reset ba b--black-20 pa2 mb2 db w-100">
        <input type="password" name="password" placeholder="Ingrese su password" class="input-reset ba b--black-20 pa2 mb2 db w-100">
        <input type="submit" name="Entrar" />
    </form>

 </div>
</article>