<article class="mw6 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
<h1>Iniciar Sesión</h1>
 <div class="tc">
    <form action="/login/validar" method="post">
        <input type="text" name="email" placeholder="Ingresa tu email" class="input-reset ba b--black-20 pa2 mb2 db w-100">
        <input type="text" name="grupo" placeholder="Ingresa tu número de grupo" class="input-reset ba b--black-20 pa2 mb2 db w-100">
        <input type="submit" />
    </form>

 </div>
</article>

